html, body
  font-family: "microsoft yahei", Helvetica, Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  overflow-x: hidden;
*
  padding 0
  margin 0
  box-sizing border-box
  background none
  border none
  outline:none

